{{ define "index" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>MyTasks</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script defer src=".././static/assets/main.46d2a47e0ea575759a24.js"></script></head>
    <body>
        <div class="wrapper">
            <header class="header">
                <aside class="header_aside">
                    <div class="header_title">
                        <h1>My utils</h1>
                        <div class="burger"></div>
                    </div>
                    <nav class="header_nav">
                        <div class="header_nav__item">
                            <div class="header_nav__link">
                                <a href="/"></a>
                                <p>Home</p>
                            </div>
                            <div class="image active"></div>
                        </div>
                        {{ if .UserLogin }}
                        <div class="header_nav__item">
                            <div class="header_nav__link">
                                <a href="/todo"></a>
                                <p>ToDo</p>
                            </div>
                            <div class="image"></div>
                        </div>
                        <div class="header_nav__item">
                            <div class="header_nav__link">
                                <a href=""></a>
                                <p>Goals</p>
                            </div>
                            <div class="image"></div>
                        </div>
                        <div class="header_nav__item">
                            <div class="header_nav__link">
                                <a href=""></a>
                                <p>Plans</p>
                            </div>
                            <div class="image"></div>
                        </div>
                        <div class="header_nav__item">
                            <div class="header_nav__link">
                                <a href=""></a>
                                <p>Tasks</p>
                            </div>
                            <div class="image"></div>
                        </div>
                        <div class="header_nav__item">
                            <div class="header_nav__link">
                                <a href=""></a>
                                <p>Saved links</p>
                            </div>
                            <div class="image"></div>
                        </div>
                        <div class="header_nav__item">
                            <div class="header_nav__link">
                                <a href=""></a>
                                <p>Options</p>
                            </div>
                            <div class="image"></div>
                        </div>
                        <div class="header_nav__item">
                            <div class="header_nav__signout">
                                <p>Sign Out</p>
                            </div>
                        </div>
                        {{ else }}
                        <div class="header_nav__item">
                            <div class="header_nav__signin">
                                <p>Sign In</p>
                            </div>
                        </div>
                        <div class="header_nav__item">
                            <div class="header_nav__signup">
                                <p>Sign Up</p>
                            </div>
                        </div>
                        {{ end }}
                    </nav>
                </aside>
            </header>
            <div class="header_background"></div>
            <main class="main">
                <div class="main_content">
                    <div class="content_title">
                        {{ if .UserLogin}}
                        <h1>Home | Hi! {{ .UserLogin }}</h1>
                        {{ else }}
                        <h1>Home | Developers</h1>
                        {{ end }}
                    </div>
                    <div class="content">
                        <div class="content_block news">
                            <div class="content_news__header">
                                <h2>
                                    Developer news | Новая Альфа версия 0.0.3
                                </h2>
                            </div>
                            <div class="content_news__content">
                                <p>
                                    Приветствую вас на своем сайте-планировщике!
                                </p>
                                <p>
                                    В этой версии имеется только ToDo-список, не
                                    более
                                </p>
                                <p>
                                    Сайт будет развиваться, и только ваш
                                    обратный отзыв, даст пинок разработке в
                                    правильном направлении
                                </p>
                                <p>Спасибо за то что вы с нами!</p>
                            </div>
                            <div class="content_news__footer">
                                <a href="">Подробнее...</a>
                            </div>
                        </div>
                        <div class="content_block user">
                            <h2>My current tasks | ToDo-Recording</h2>
                            <div class="content_block__items user">
                                <div class="todo_rec">
                                    <div class="todo_rec__title">
                                        <h2>Title</h2>
                                        <h3>Tag: @hellohello</h3>
                                    </div>
                                    <div class="todo_rec__content">
                                        <p>
                                            Lorem ipsum dolor, sit amet
                                            consectetur adipisicing elit.
                                            Tenetur, eligendi!
                                        </p>
                                        <p>
                                            Lorem ipsum dolor sit amet
                                            consectetur adipisicing elit.
                                            Dolorum laborum accusantium aliquam
                                            veritatis laudantium! Sapiente
                                            expedita error placeat aliquid
                                            accusantium reiciendis ipsam
                                            suscipit omnis quod. Sapiente
                                            expedita error placeat aliquid
                                            accusantium reiciendis ipsam
                                            suscipit omnis quod.
                                        </p>
                                        <p>Lorem ipsum dolor sit amet.</p>
                                        <p>
                                            Lorem ipsum dolor sit amet
                                            consectetur, adipisicing elit.
                                            Consequatur deleniti, sunt
                                            repudiandae nulla rerum explicabo!
                                        </p>
                                    </div>
                                    <div class="todo_rec__footer">
                                        <a href="/todo?tag=hellohello"
                                            >Подробнее...</a
                                        >
                                    </div>
                                </div>
                                <div class="todo_rec">
                                    <div class="todo_rec__title">
                                        <h2>Title</h2>
                                        <h3>Tag: @lorer</h3>
                                    </div>
                                    <div class="todo_rec__content">
                                        <p>
                                            Lorem ipsum dolor, sit amet
                                            consectetur adipisicing elit.
                                            Tenetur, eligendi!
                                        </p>
                                        <p>
                                            Lorem ipsum dolor sit amet
                                            consectetur adipisicing elit.
                                            Dolorum laborum accusantium aliquam
                                            veritatis laudantium! Sapiente
                                            expedita error placeat aliquid
                                            accusantium reiciendis ipsam
                                            suscipit omnis quod. Sapiente
                                            expedita error placeat aliquid
                                            accusantium reiciendis ipsam
                                            suscipit omnis quod.
                                        </p>
                                        <p>Lorem ipsum dolor sit amet.</p>
                                        <p>
                                            Lorem ipsum dolor sit amet
                                            consectetur, adipisicing elit.
                                            Consequatur deleniti, sunt
                                            repudiandae nulla rerum explicabo!
                                        </p>
                                    </div>
                                    <div class="todo_rec__footer">
                                        <a href="/todo?tag=lorer"
                                            >Подробнее...</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            {{ template "popupSignInUp" }}
        </div>
    </body>
</html>
{{ end }}
