.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide_popup {
    animation-name: hidePopup;
    animation-duration: 0.3s;
}
@keyframes hidePopup {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}
.popup::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    animation-name: showBg;
    animation-duration: 0.3s;
}
@keyframes showBg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.popup_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: rgb(236, 236, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.popup_close::after,
.popup_close::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
}
.popup_close::after {
    transform: rotate(45deg);
}
.popup_close::before {
    transform: rotate(-45deg);
}
.popup_block {
    background-color: white;
    padding: 20px;
    margin: 10px;
    overflow: hidden;
    animation-name: showPopup;
    animation-duration: 0.3s;
    width: 100%;
}
@keyframes showPopup {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.popup_sign .popup_block {
    max-width: 500px;
    height: 350px;
}
.popup_edittodo .popup_block,
.popup_newtodo .popup_block {
    max-width: 800px;
    height: 450px;
}
.popup_moretodo .popup_block {
    max-width: 800px;
    height: 450px;
}
.popup_todoDelete .popup_block {
    max-width: 350px;
    height: 200px;
}
.popup__header {
    position: relative;
    display: flex;
    justify-content: center;
}
.popup_header h2:nth-child(odd) {
    cursor: pointer;
    margin: 0 5px;
}
.popup_header h2 {
    color: rgb(150, 150, 150);
}
.active_popup_btn {
    color: black !important;
    padding: 0 10px;
    transition: 0.3s;
}
.popup_section {
    transition: 0.3s;
}
.error_signin,
.error_signup {
    color: rgb(255, 0, 0);
    padding-bottom: 5px;
}
.popup_content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.popup_todoDelete .popup_content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 80%;
}
.popup_todoDelete .popup_content p {
    text-align: center;
}
.popup_edittodo .popup_block,
.popup_newtodo .popup_block {
    position: relative;
    width: 100%;
    height: 100%;
}

.popup_section_left {
    left: 0;
}
.popup_section_right {
    right: -100%;
}
.popup_section {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup_section h2 {
    text-align: center;
}
.popup_section form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup_section form input {
    width: 100%;
    height: 30px;
}
.popup_section form input:not([type="submit"]) {
    background-color: rgb(224, 224, 224);
    outline: none;
    border: none;
    border-radius: 10px;
    padding-left: 5px;
    font-size: 16px;
}
.popup_section form input:focus:not([type="submit"]) {
    box-shadow: 0 0 0 3px rgb(207, 207, 207);
}
.popup_inputs {
    width: 70%;
}
.popup_section form .popup_inputs:not(:last-child) {
    padding-bottom: 10px;
}
.popup_edittodo .popup_inputs,
.popup_newtodo .popup_inputs {
    padding-bottom: 20px;
}
.popup_edittodo .popup_inputs input,
.popup_edittodo .popup_inputs textarea,
.popup_newtodo .popup_inputs input,
.popup_newtodo .popup_inputs textarea{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 180px;
}
.section_deletetodo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.section_deletetodo .btn {
    width: 45%;
    height: 40px;
}
