.search_todo {
    padding: 10px 0 40px 0;
}
.search_todo h2 {
    padding-bottom: 10px;
}
.search_todo__inputs {
    display: flex;
    justify-content: space-between;
}
.input.search_todo_inp,
.btn.search_todo_btn {
    width: 48%;
}
.btn.new_todo_btn {
    width: 100%;
    height: 60px;
    font-weight: bold;
    font-size: 25px;
}
.todo_rec {
    width: 48%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.todo_rec__title {
    padding-bottom: 10px;
}
.todo_rec__content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.todo_rec__content p {
    padding: 2px 0;
}
.content_news__footer,
.todo_rec__footer {
    padding-top: 10px;
}
.todo_rec__footer {
    display: flex;
    justify-content: space-between;
}
.todo_rec__footer p,
.todo_rec__footer a {
    cursor: pointer;
    padding: 0 5px;
}
.todo_rec__footer p:hover,
.todo_rec__footer a:hover {
    text-decoration: underline;
}
.todo_rec__footer p:nth-child(1) {
    color: royalblue;
}
.todo_rec__footer p:nth-child(2) {
    color: rgb(255, 174, 0);
}
.todo_rec__footer p:nth-child(3) {
    color: tomato;
}