* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container {
    border-left: solid 1px;
    border-right: solid 1px;
    max-width: 1100px;
    width: 100%;
    padding: 30px 0;
}
.main_header {
    text-align: center;
}
.bg_colorizer {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.bg_colorizer h2 {
    padding: 10px 0;
    text-decoration: underline;
}
.bg_colorizer__items {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
.bg_colorizer__items > button {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.bg_colorizer__items > button.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: rgb(0, 255, 0);
}
.bg_colorizer__items > button#bg_col_blue {
    background-color: rgb(163, 163, 255);
}
.bg_colorizer__items > button#bg_col_dark {
    background-color: rgb(58, 58, 58);
}
.bg_colorizer__items > button#bg_col_red {
    background-color: rgb(255, 148, 148);
}
.bg_colorizer__items > button#bg_col_purple {
    background-color: rgb(165, 117, 255);
}

.main_content {
    padding: 60px 0;
    width: 100%;
}
.todo_create {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
button.todo_create__btn {
    cursor: pointer;
    font-size: 45px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: rgb(187, 187, 187);
    width: 50%;
    height: 130px;
    transition: .3s;
}
button.todo_create__btn:hover {
    color: rgb(110, 255, 110);
    box-shadow: 0 5px 10px rgb(110, 255, 110, .4);
}

.todo_create__modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.todo_create__modal_content {
    position: relative;
    max-width: 800px;
    width: 100%;
    min-height: 500px;
    background-color: white;
    padding: 20px;
}
.todo_create__modal__header {
    display: flex;
    align-items: center;
}
.todo_create__modal__header h3 {
    padding-top: 3px;
    padding-left: 15px;
}
.todo_create__modal__inputs {
    padding: 20px 0;
}
.todo_create__modal__inputs input {
    width: 70%;
    height: 30px;
    outline: none;
    font-size: 18px;
    padding-left: 5px;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    transition: .3s;
}
.todo_create__modal__inputs input:focus {
    box-shadow: 0 0 0 4px rgb(230, 230, 230);
}
.todo_create__modal__inputs textarea {
    width: 70%;
    max-width: 70%;
    min-width: 70%;
    min-height: 30px;
    height: 200px;
    max-height: 500px;
    outline: none;
    font-size: 18px;
    padding-left: 5px;
    padding-top: 5px;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}
.todo_create__modal__inputs textarea:focus {
    box-shadow: 0 0 0 4px rgb(230, 230, 230);
}
.todo_create__modal__create_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
.todo_create__modal__create_btn button#todo_create {
    width: 60%;
    height: 40px;
    cursor: pointer;
    transition: .3s;
    border: none;
    border-radius: 10px;
}
.todo_create__modal__create_btn button#todo_create:hover {
    color: rgb(0, 255, 0);
    box-shadow: 0 5px 10px rgb(110, 255, 110, .4);
}
.modal_close__btn {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.modal_close__btn:hover {
    box-shadow: 0 0 0 4px rgb(154, 255, 154);
}
.modal_close__btn::after, .modal_close__btn::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: black;
    display: block;
}
.modal_close__btn::after {
    transform: rotate(-45deg);
}
.modal_close__btn::before {
    transform: rotate(45deg);
}