<head><script defer src="../.././static/assets/main.439d3bb9a0d206b7ac82.js"></script></head>{{ define "popupDeleteTodo" }}
<div class="popup popup_todoDelete" style="display: none;">
    <div class="popup_block">
        <div class="popup_header">
            <h2>Удаление TODO</h2>
            <div class="popup_close"></div>
        </div>
        <div class="popup_content">
            <p>Вы действительно хотите удалить todo-запись?</p>
            <section class="section_deletetodo">
                <button class="btn yes_delete">Удалить</button>
                <button class="btn not_delete">Отмена</button>
            </section>
        </div>
    </div>
</div>
{{ end }}