<head><script defer src="../.././static/assets/app.6586de855bc3fa37ccc5.js"></script></head>{{ define "popupEditToDo" }}
<div class="popup popup_edittodo" style="display: none;">
    <div class="popup_block">
        <div class="popup_header">
            <h2>Редактировать ToDo</h2>
            <div class="popup_close"></div>
        </div>
        <div class="popup_content">
            <section id="popup_edittodo" class="popup_section section_edittodo">
                <form id="edittodo_form" action="/edittodo" method="get">
                    <div class="popup_inputs">
                        <h4>Заголовок</h4>
                        <input class="input" id="edittodo_title" type="text" name="title" placeholder="Заголовок...">
                    </div>
                    <div class="popup_inputs">
                        <h4>Тег</h4>
                        <input class="input" id="edittodo_tag" type="text" name="tag" placeholder="Тег...">
                    </div>
                    <div class="popup_inputs">
                        <h4>ToDo-Запись</h4>
                        <textarea class="textarea" id="edittodo_todo" type="text" name="todo" placeholder="ToDo..."></textarea>
                    </div>
                    <p class="error_signin" style="display: none;">title or tag too long</p>
                    <div class="popup_inputs">
                        <input id="edittodo_btn" class="btn" type="button" value="Редактировать">
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
{{ end }}