<head><script defer src="../.././static/assets/main.ff6b4a756aa2d7f19de6.js"></script></head>{{ define "popupSignInUp" }}
<div class="popup popup_sign" style="display: none;">
    <div class="popup_siginup__block">
        <div class="popup_siginup__header">
            <h2 class="active_sign signin_btn">Sign In</h2>
            <h2>/</h2>
            <h2 class="signup_btn">Sign Up</h2>
            <div class="popup_close"></div>
        </div>
        <div class="popup_siginup_content">
            <section id="popup_signin" class="popup_signinup_section popup_signinup_left">
                <h2>My Tasks</h2>
                <form id="signin_form" action="/signin" method="get">
                    <div class="popup_signin_inputs">
                        <h4>Login</h4>
                        <input id="signin_log" type="text" name="login" placeholder="Your login...">
                    </div>
                    <div class="popup_signin_inputs">
                        <h4>Password</h4>
                        <input id="signin_pass" type="password" name="pass" placeholder="Your password...">
                    </div>
                    <p class="error_signin" style="display: none;"></p>
                    <div class="popup_signin_inputs">
                        <input id="signin_btn" class="btn" type="button" value="Sing In">
                    </div>
                </form>
            </section>
            <section id="popup_signup" class="popup_signinup_section popup_signinup_right">
                <h2>My Tasks</h2>
                <form action="/signup" method="post">
                    <div class="popup_signin_inputs">
                        <h4>Login</h4>
                        <input type="text" placeholder="Enter your login...">
                    </div>
                    <div class="popup_signin_inputs">
                        <h4>Password</h4>
                        <input type="password" placeholder="Enter your password...">
                    </div>
                    <div class="popup_signin_inputs">
                        <h4>Confirm password</h4>
                        <input type="password" placeholder="Enter your password...">
                    </div>
                    <div class="popup_signin_inputs">
                        <input class="btn" type="submit" value="Sing Up">
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
{{ end }}