<head><script defer src="../.././static/assets/app.6586de855bc3fa37ccc5.js"></script></head>{{ define "popupMoreTodo" }}
<div class="popup popup_moretodo" style="display: none;">
    <div class="popup_block">
        <div class="popup_header">
            <h2>Подробнее о записи</h2>
            <div class="popup_close"></div>
        </div>
        <div class="popup_content">
            <section id="popup_moretodo" class="popup_section section_moretodo">
                <div class="more_info">
                    <div class="popup_inputs">
                        <h2 class="moretodo_title">Заголовок |</h2>
                    </div>
                    <div class="popup_inputs">
                        <h3 class="moretodo_tag">Тэг | @</h3>
                    </div>
                    <div class="popup_inputs">
                        <p class="moretodo_text"></p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{{ end }}